/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * AsgardsChosen implementation : © Kevin Espinoza kcesp1996@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * asgardschosen.css
 *
 * AsgardsChosen stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (asgardschosen_asgardschosen.tpl), and to HTML elements you create dynamically
    (in asgardschosen.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#map_container {
  position: relative;
  width: 100%;
  height: 600px;
}

.tile {
    position: absolute;
    top: -28px;
    width: 200px;
    aspect-ratio: 100 / 64;
    background-image: url('img/tile-0.png');
    background-size: cover;
    pointer-events: inherit;
}

.tile_container {
    position: absolute;
    overflow: visible;
    height: 100px;
    width: 200px;
    transform: rotate(0deg);
    transform-origin: top left;
    pointer-events: none;
}

.terrain {
    position: absolute;
    height: 100px;
    width: 100px;
    clip-path: path("M 0 28 A 28 28, 0 0 0, 28 0 l 44 0 A 28 28, 0 0 0, 100 28 l 0 44 A 28 28, 0 0 0, 72 100 l -44 0 A 28 28, 0 0 0, 0 72 l 0 -44");
    background-color: transparent;
    cursor: pointer;
    pointer-events: visiblePainted;
}

.left-terrain {
    bottom: 0px;
    left: 0px;
}

.right-terrain {
    bottom: 0px;
    left: 100px;
}

.terrain-circle {
    position: absolute;
    top: -28px;
    left: 72px;
    height: 56px;
    width: 56px;
    background-color: transparent;
    clip-path: circle(28px);
    cursor: pointer;
    pointer-events: visiblePainted;
}

.city_container {
    position: absolute;
    top: calc(-28px);
    left: calc(-28px);
    height: 56px;
    width: 56px;
    pointer-events: none;
}

.city_image {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 56px;
    width: 56px;
    background-image: url('img/tile-city-0.png');
    background-size: cover;
    pointer-events: inherit;
}

.city-circle {
    position: absolute;
    height: 56px;
    width: 56px;
    background-color: transparent;
    clip-path: circle(28px);
    cursor: pointer;
    pointer-events: visiblePainted;
}